.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
application.properties
handy-boulevard-475706-q2-004880c33563.json
env.app.json
src/main/python/
**/src/main/python/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/logs/
/logs/
src/main/resources/application.properties
src/main/resources/handy-boulevard-475706-q2-004880c33563.json
src/main/resources/env.app.json
/src/pythonsrc/main/python/

### 다국어 json ###
!src/main/resources/i18n/
/src/main/resources/
